body {
  background-color: #00bcd4;
  font-family: "Courier New", Courier, monospace;
  color: white;
}
.container {
  height: 100vh;
}
.btn-custom {
  background-color: white;
  color: #00bcd4;
  font-weight: bold;
}
.btn-custom:hover {
  background-color: white;
  color: #00bcd4;
  transition-duration: 150ms;
  transition-property: transform;
  transition-timing-function:ease;
  transform: scale(105%);
}

.navbar {
  background-color: rgba(255, 255, 255, 0.2);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-brand, .nav-link {
  color: white !important;
}
.nav-link:hover {
  color: #e0f7fa !important;
}
.content {
  margin-top: 80px;
}